@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Jako admin możesz edytować użytkowników oraz przydzielać im odpowiednie role!</h2>  

<div id="divUserListContainer">
    @Html.Action("ManageUserPartial", "Home");
</div>  