@{
    ViewBag.Title = "System obsługi galerii";
}

<div class="jumbotron">
    <p2>Nie masz jeszcze konta? @Html.ActionLink("Zarejestruj się!", "SignUp", "Account")</p2>
    <h1>System obsługi galerii</h1>
    <p class="lead">Dzięki tej aplikacji będziecie w stanie sprawdzić co oferują dane sklepy w galeriach oraz sprawdzić swoje zniżki w poszczególnych sklepach</p>
    <p><a href="http://proudmonkey.azurewebsites.net/building-web-application-using-entity-framework-and-mvc-5-part-1/" class="btn btn-primary btn-lg">Wiele przydatnych informacji &raquo;</a></p>
</div>
<br />




<div class="row">
    <div class="col-md-4">
        <h2>Jak zacząć?</h2>
        <p>
            Najlepiej od tej strony!
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/overview/getting-started">Wejdź &raquo;</a></p>
    </div>
</div>